.galeria {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1 10%;
    margin-top: 40px;
}

figure {
    display: inline-block;
}

figcaption {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.radius {
    border-radius: 30px;
}

.borda{
    border: black solid 2px;
}

.clique {
    transition: transform 0.3s ease;
}

.clique:hover{
    transform: scale(1.1);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo{   
    background-color: rgb(192, 195, 194);
    padding: 15px;
    margin: 10px;
    margin-top: 0px;
}

.fonteTitulo{
    color: black;
    font-size: 35px;
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
