.galeria {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1 10%;
}

figure {
    display: inline-block;
}

figcaption {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

.radius {
    border-radius: 30px;
}

.borda{
    border: black solid 2px;
}

.sombra {
    box-shadow: rgb(131, 131, 131) 0px 0px 17px 5px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo{   
    background-color: rgb(192, 195, 194);

}

.fonteTitulo{
    color: black;
    font-size: 35px;
    font-family:'Franklin Gothic Medium';
    text-align: center;
}
