.fundo{
    background-color: rgb(173, 0, 0);
    height: 100px;
    width: 100%;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
    display: flex;
    align-items: center;
}

.imagem-fundo{
    background-image:url(/Imagens/Torcida2025-1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-athletico{
    margin-left: 200%;
    align-self: center;
}

.carrinho-compra{
    margin-left: auto;
    margin-right: 2.5%;
}

.bandeira-brasil{
    margin-right: 2.5%;
}

.bandeira-brasil img{
    border-radius: 10px;
}

.logo-login{
    margin-right: 0.5%;
}


.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    margin-left: 3%; 
    cursor: pointer;
}

.menu-icon span{
    display: block;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.89);
    
}

.menu-lateral {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #660000; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-lateral a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover {
    color: red;
}

.fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo-evento{
    background-color: white;
    height: 500px;
    width: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.botao-evento{
    border: 0px;
    background-color: rgb(182, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 60px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao-evento:hover{
    background-color: #ff3c3c;
    transform: scale(1.03);
}

